
  <div class="row about">
    <div class="col-md-6 left-side">
      <h1 class="about-header">Berlin Bike</h1>
      <h2 class="old-new">Your old-new bike</h2>
      <p class="about-text">The best way to experience Berlin and travel around the city is, for many, by bike. 
        We have a large supply of used and affortable bikes that are all in a good shape.
        Come by, or visit our online shop. 
      </p>
      <%= image_tag("woman-and-dog-with-bicycle.jpg", class: "img-responsive woman-with-dog") %>
      <%= image_tag("man-riding-bike.jpg", class: "img-responsive man-riding-bike") %>
    </div>
    <div class="col-md-6 right-side">
      <%= image_tag("dom.png", class: "img-responsive dom") %>
      <%= image_tag("bedroom.jpg", class: "img-responsive bedroom") %>
    </div>
  </div>



