<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8" id="middle">
      <h1 class="about-header">Berlin Bike</h1>
      <h2 class="old-new">Your old-new bike</h2>
      <p class="about-text">The best way to experience Berlin and travel around the city is for many people  - the bike. 
      We have a large supply of used and affortable bikes that are all in a good condition.<br><br>
      <%= image_tag("woman-and-dog-with-bicycle.jpg", class: "img-responsive my-image") %><br></br>
      <%= image_tag("bike-in-front-of-house.jpg", class: "img-responsive my-image") %><br><br> Come by and pick yours. 
      </p>
    </div>
    <div class="col">
    </div>
  </div>
</div>
