<div class="container" id="road">
<i class="fas fa-bicycle" id="bike"></i>
</div>
<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>
<%= image_tag("bike2.jpg", class: "img-responsive my-image") %>
