<div class="container-fluid" id="welcoming">
    <h1>Welcome to <br/>Bike Berlin</h1>
    <div class="container container-fluid" id="road">
        <i class="fas fa-bicycle fa-rotate-300" id="bike"></i>
    </div>
        <h2 class="welcome">Your source for used bikes in Berlin</h2>
</div>
        

    
