<div class="row">
  <div class="col-sm">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Thank you. We have received your message and will respond as soon as possible.</h4>
        <%= link_to "Back", 'landing_page', class: "btn btn-light" %>  
      </div><!-- / panel-body -->
    </div><!-- / panel -->
  </div>
</div>
