<div class="container">
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-sm-4">
        <h3>
          Order <%= order.id %>:
          <%= link_to order.product.name, order %>
        </h3>
        <p><%= order.product.description %></p>
        <strong>€ <%= order.product.price %></strong>
      </div><!-- /col -->
    <% end %>
  </div>
</div>
