  <div class="row">
    <div class="col-sm">
    <h3>Order Information</h3>
    <strong>Order ID: </strong><%= @order.id %>
    <strong>Product Name: </strong><%= @order.product.name %>
   </div>
  </div>
