
.img-responsive {
  width: auto;
  height: 300px;
  border-radius: 0px; 
}

#products { /* field */
  padding-bottom: 0px;   
}

.product-block { /* img, name and description */
  padding: 0;
  border-radius: 5px;
}

.products { /* h1 header */
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: chocolate;
}

.name {
  font-family: 'Lato-thin', sans-serif;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0;
  //background-color: #EEE685;
}

.text-block {
  border: solid 2px lightgray;
}

.text {
  font-family: 'Lato', sans-serif;
  padding-left: 4%;
  color: #000; 
}

/*product_show*/
.properties {
  text-align: center;
  padding-top: 4%;
  padding-left: 8%;
}

.show-name {
  padding-left: 6%;
  font-weight: bold;
  color: #000;
  padding-top: 3%;
  padding-bottom: 2%;
  border: solid 2px #000;
  margin-bottom: 0;
}

.gift {
  font-family: 'Sniglet', cursive;
  padding: 20px;
  color: orange;
}

#gift-links {
  text-align: center;
  background-color: darkgrey;
}

/* pagination */
.pagination {
  color: #000;
  text-transform: uppercase;
}
