.page-wrap {
  margin-right: 7%;
  margin-left: 7%;
}

.img-fluid {
  width: 350px;
  height: 240px;
  border-radius: 4px; 
}

#products {
  padding-bottom: 40px; 
  background-color: #fff;  
}

.products {
  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: #000;
  background-color: red;
  border: solid black 2px;
}

.name {
  font-family: 'Lato-thin', sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 0;
  background-color: #dfffff;
}

.text {
  font-family: 'Lato', sans-serif;
  padding-left: 4%;
  color: #000;
}

.product-block {
  background-color: #dfffff;
  padding: 0;
  border-radius: 5px;
  color: #225566;
}

/*product_show*/

.properties {
  text-align: center;
  padding-top: 2%;
  border: solid 1px blue;
  background-color: white;
}

.fas {
  padding-bottom: 5%;
}

.gift {
  font-family: 'Sniglet', cursive;
  padding: 20px;
  color: orange;
}

.show-name {
  padding-left: 6%;
  font-weight: bold;
  color: #000;
  padding-top: 3%;
  padding-bottom: 2%;
  background-color: #FF4C4C;
  border: solid 2px #000;
}

// pagination
.pagination {
  color: #000;
  text-transform: uppercase;
}
