// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-wrap {
  margin: 0 5%;
}

.img-fluid {
  width: 350px;
  height: 250px;
}

#products-row {
  border: 8px solid #000;
}

#single-product {
  background-color: #E9BF56;
  border: 1px dashed #000;
}

.name {
  font-family: 'Permanent Marker', cursive;
}

.text {
  font-family: 'Gloria Hallelujah', cursive;
}
