* { box-sizing: border-box;}

body {
  position: relative;
  background-color: #fff;
  max-width: 100%;
}

.page-wrap {
  margin-right: 3%;
  margin-left: 3%;
}

/* root */
.whole-page {
  height: 1300px;
}

.home-page {
  background:url('peugeot.jpg') no-repeat center center;
  background-size: cover;  /* For a full size background image */
}

/* animation */
#road {
  width:1000px;
  height: 50px;
  position: relative;
}

#bike {
  font-size: 50px;
  color: #FFF;
  padding-bottom: 0;
  position: absolute;
}

.fa-rotate-300 {
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);
}

/* fonts */
h1 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 600;
  padding: 3px;
  padding-top: 1px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 7px;
  padding-bottom: 10px;
}

h4 {
  color: #000;
}

p {
  padding: 0px;
}

.welcome-header {
  color: #FFF;
  text-align: left;
  padding-top: 3%;
  padding-left: 0;
}

.welcome, .contact {
  font-family: 'Lato', sans-serif;
}

.carousel {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.welcome {
  text-align: right;
  color: chocolate; 
}

.about-header { 
  font-family: 'Lato', sans-serif;
  color: #000;
  padding-top: 30px; 
  padding-bottom: 25px;
}

/* navbar */
nav {
  width: 100%;
}

.navbar-nav {
  padding-top: 3px;
  height: 35px;
  text-transform: uppercase;
}

#navbar a {
  color: grey;
  
  &:visited {
    /*color: #4F6457;*/ 
    color: #DDA288;
    text-decoration: none;
  }

  &:hover {
    color: #fff;
    background-color: grey;
    text-decoration: none;
  }
}

.company {
  font-size: 2em;
  font-weight: bolder;
  font-family: 'Special Elite', cursive;
  text-transform: uppercase;
}

#company { /* logo */
  padding-top: 2%;
}

#company a {
  color: #000;

  &:visited {
    color: #000;
  }
}

ul, li, a {
  padding: 10px;
  list-style: none;
}

.btn-default {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 3%;
}

#q {
  padding-bottom: 2px;
  padding-top: 1px;
  margin-top: 3%;
}

/* about page */
.col {
  background-color: #1993;
  padding: 0px;
}

.old-new { /* h2 header */
  font-family: 'Special Elite', cursive;
  color: orange;
}

#about {
  font-size: 1;
  color: #000;
  padding: 1%;
}

.about-text { 
  font-size: 1.5em;
  color: #000;
}

#middle { /* section */
  background-color: #FFF;
  margin: 0;
  border-top: 15px solid #1993;
  border-bottom: 15px solid #1993;
}

/* contact page */
#envelope { /* icon */
  position: fixed;
  text-align: right;
  color: #DDA288;
  font-size: 3.9em;
  padding-left: 36%;
  padding-top: 1.3%;
}

#contact-info p {
  font-size: 1.5em;
  padding-top: 10px;
}

#open {
  background-color: #8593AE;
}

.my-image {
  max-width: 100%;
  height: 483px;
}

#contact { /* form */
  padding: 20px;
  background-color: #7E675E;
}

.contact {
  text-align: left;
  color: #5A4E4D;
  padding-top: 10px;
  padding-left: 10%;
  padding-bottom: 7px; 
  position: relative;
}

/* footer */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
     margin-bottom: 100px;
}
.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: 100px;
    color: #000;
}
.site-footer {
  background: #5A4E4D;
  text-align: center;
  padding-top: 40px;
}
