 /* devise */
 .sign-up, .login, .forgot, .actions {
  text-align: center;
  padding-top: 90px;
}

.btn-light {
  border: 1px solid lightgrey;
  background-color: #FFF;
}

.btn:hover {
  background-color: lavender;
}

.log-in {
  padding-left: 60%;
  padding-right: 55%;
}

#remember {
  color: chocolate;
  padding-left: 8%;
}

.div.field, .actions {
  color: chocolate;
  padding-top: 0;
}

/* users page */
#users-row {
  padding: 2%;
}

#users {
  border: 2px solid #1993;
  padding: 1%
}
