// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-label-login:hover {
  /*color: #fff;
  background-color: #F36920;
  border: solid black 2px;*/ 
  color: orange;
  background-color: gold;
}

.form-label-reset:hover {
  color: #fff;
  background-color: gold;
  border: solid black 2px;
}

.form-label-sign-up:hover {
  color: #fff;
  background-color: gold;
  border: solid black 2px;
}

 .forgot, .actions, .sign-up, .login {
  text-align: center;
  padding-top: 90px;
}

.btn:hover {
  background-color: lavender;
}

.btn-light {
  border: 1px solid lightgrey;
  background-color: blanchedalmond;
}

.log-in {
  padding-left: 60%;
  padding-right: 55%;
}

#remember {
  color: chocolate;
  padding-left: 8%;
}

.div.field, .actions {
  color: chocolate;
  padding-top: 0;
}

/* show page */

#users-row {
  padding: 2%;
}

#users {
  border: 2px dotted orange;
  padding: 1%
}
