// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-label-login:hover {
  color: #fff;
  background-color: #F36920;
  border: solid black 2px;
}

.form-label-reset, .form-label-sign-up {
  background-color: orange;
  border: solid black 2px;
  color: #000;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
}

.form-label-reset:hover {
  color: #fff;
  background-color: #F36920;
  border: solid black 2px;
}

.form-label-sign-up:hover {
  color: #fff;
  background-color: #F36920;
  border: solid black 2px;
}

 #signup, #forget, #confirmation, #change, #edit, #unlock {
  border: solid grey 1px;
  padding: 30px;;
}

 .forgot, .actions, .sign-up, .login {
  text-align: center;
  padding-top: 60px;
}

.btn:hover {
  background-color: #F36920;
}

.log-in {
  padding-left: 60%;
  padding-right: 55%;
}

#remember {
  padding-left: 8%;
}

.div.field, .actions {
  padding-top: 0;
}

/* show page */

#users-row {
  padding: 2%;
}

#users {
  border: 2px dotted orange;
  padding: 1%
}
